[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[color "status"]
	added = red
	changed = green
	untracked = blue

[color "diff"]
	meta = cyan
	frag = magenta
	old = blue
	new = red

[color "branch"]
	current = cyan reverse
	local = cyan
	remote = green

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[commit]
	gpgsign = true
