/*
/.**

!.bashrc
!.bash_profile
!.vimrc
!.xprofile
!.gitconfig
!install.sh
!packages.txt
!/bin/
!.pam_environment
!.xinitrc
!/.config
!/.config/**
/.config/vifm/vifminfo.json
/.config/gtk-3.0/im-multipress.conf
!.gtkrc-2.0
!/etc/
!/sakura_theme.crx

!/README.md
!.gitignore

